<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>SHH | Створення продукту </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body style="padding-top: 100px">
        <div th:replace="admin/admin_navbar :: admin_navbar"></div>

        <main role="main">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row" style="width: 60%">
                    <div class="col-md-12">
                        <form class="card w-100 my-4" method="post" action="/admin/product/create">
                            <div class="card-header bg-light text-info">
                                <h4 class="text-center m-2">Створення продукту</h4>
                            </div>
                            <div class="card-body p-3">
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Назва</label>
                                    <input type="text" class="form-control" id="nameInput" name="name" maxlength="255" required>
                                </div>

                                <div class="row mb-3">
                                    <div class="col pe-2">
                                        <label for="genderInput" class="form-label">Стать</label>
                                        <select class="form-select" id="genderInput" name="gender" required>
                                            <option value="" selected>Виберіть...</option>
                                            <option value="F">Жіноча</option>
                                            <option value="M">Чоловіча</option>
                                            <option value="K">Дитяча</option>
                                        </select>
                                    </div>
                                    <div class="col ps-2">
                                        <label for="seasonInput" class="form-label">Сезон</label>
                                        <select class="form-select" id="seasonInput" name="season" required>
                                            <option value="" selected>Виберіть...</option>
                                            <option value="Autumn">Осінь</option>
                                            <option value="Winter">Зима</option>
                                            <option value="Spring">Весна</option>
                                            <option value="Summer">Літо</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col pe-2">
                                        <label for="sizeInput" class="form-label">Розмір</label>
                                        <input type="number" class="form-control" id="sizeInput" name="size" step="1" min="0" max="10" required>
                                    </div>
                                    <div class="col ps-2">
                                        <label for="totalCountInput" class="form-label">Кількість</label>
                                        <input type="number" class="form-control" id="totalCountInput" name="totalCount" step="1" min="0" max="10000" required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-9 pe-2">
                                        <label for="categoryInput" class="form-label">Категорія</label>
                                        <select class="form-select" id="categoryInput" name="category" required>
                                            <option value="" selected>Виберіть...</option>
                                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name+', '+category.type}"></option>
                                        </select>
                                    </div>
                                    <div class="col-3 d-flex align-items-end ps-2">
                                        <button type="submit" class="btn btn-block btn-primary w-100">Зберегти</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js" integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>