<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SHH | Де знайти </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body style="padding-top: 100px;">
<div th:replace="navbar :: navbar">
</div>
<main role="main">
    <div class="d-flex justify-content-center align-items-center">
        <div class="row" style="width: 80%">
            <div class="col-md-12 text-center">
                 <div class="card w-100 my-4">
                    <div class="card-header bg-light text-info">
                        <h4 class="text-center"> Як нас знайти?</h4>

                    </div>
                    <div class="card-body" style="width:auto;">
                        <p class="text-left"> Наші відділення розташовані в найбільших обласних центрах країни.
                        </p>

                        <ul class="text-left">
                            <li><strong>Київ:</strong> Адреса: вулиця Хрещатик, 1, Київ, 01001; Години роботи: Пн-Пт 9:00-21:00, Сб-Нд 10:00-20:00; Номер телефону: +380 (44) 123-45-67</li>
                            <li><strong>Дніпро:</strong> Адреса: проспект Карла Маркса, 56, Дніпро, 49000; Години роботи: Пн-Нд 10:00-22:00; Номер телефону: +380 (56) 765-43-21</li>
                            <li><strong>Одеса:</strong> Адреса: вулиця Дерибасівська, 15, Одеса, 65000; Години роботи: Пн-Нд 9:00-22:00; Номер телефону: +380 (48) 234-56-78</li>
                            <li><strong>Львів:</strong> Адреса: площа Ринок, 1, Львів, 79000; Години роботи: Пн-Нд 10:00-21:00; Номер телефону: +380 (32) 187-65-43</li>
                            <li><strong>Харків:</strong> Адреса: вулиця Сумська, 37, Харків, 61000; Години роботи: Пн-Нд 9:00-22:00; Номер телефону: +380 (57) 876-54-32</li>
                        </ul>

                        <p class="text-left">
                            Якщо у вашому населеному пункті немає відділення, ви можете замовити потрібний товар на сайті і скористатися послугами
                            Нової Пошти або Укрпошти для доставки товару (за додаткову плату).
                        </p>
                    </div>

                </div>
                <img style="width: 50%" src="https://i.postimg.cc/yN12SDb4/map.jpg" class="img-fluid" alt="Responsive image">
                <footer class=" my-4">
                    <p class="copyright">SecondHandHelp © 2023</p>
                </footer>

            </div>

        </div>

    </div>
</main>
</body>
</html>